%h1 Listing proxies

%table
  %tr
    - Proxy.visible_column_names.each do |column|
      %th= column
    %th
    %th
    %th

  - @proxies.each do |proxy|
    %tr
      - Proxy.visible_column_names.each do |column|
        %td= proxy.send column
      %td= link_to 'Show', proxy_path(proxy, table_name: @table_name)
      %td= link_to 'Edit', edit_proxy_path(proxy, table_name: @table_name)
      %td= link_to 'Destroy', proxy_path(proxy, table_name: @table_name), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Proxy', new_proxy_path(table_name: @table_name)
