- title t('.title', name: @table_name.classify)

%table
  %tr
    - Proxy.visible_column_names.each do |column|
      %th= column.titleize
    %th
    %th
    %th

  - @proxies.each do |proxy|
    %tr
      - Proxy.visible_column_names.each do |column|
        %td= proxy.send column
      %td= link_to t('show'), proxy_path(proxy, table_name: @table_name)
      %td= link_to t('edit'), edit_proxy_path(proxy, table_name: @table_name)
      %td= link_to t('destroy'), proxy_path(proxy, table_name: @table_name), :method => :delete, :data => { :confirm => t('are_you_sure') }

%br

= link_to t('.new_proxy'), new_proxy_path(table_name: @table_name)
