!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
      | DynamicModels
    = favicon_link_tag 'dynamic_models.ico'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:lang => I18n.locale,
    :class => [controller.controller_name, controller.action_name, yield(:body_class)]}
    - flash.each do |name, msg|
      != content_tag :div, msg, :id => "flash_#{name}"
    - if show_title?
      %h1.title
        = yield(:title)
    = yield
